In [10]:
import pandas as pd
import numpy as np
from io import StringIO
from IPython.display import display
# get the data
# streets
raw_streets = pd.read_csv('/Users/caoguangyue/OneDrive - Perkins & Will/Documents/_01_GT/CSE 6242/DVA_Group_Project/Data/st_sgmt_infrastructure.csv')
raw_transportation = pd.read_csv('/Users/caoguangyue/OneDrive - Perkins & Will/Documents/_01_GT/CSE 6242/DVA_Group_Project/Database/TransBase/st_sgmt_trnsprtn.csv')

# intersection
raw_inter = pd.read_csv('/Users/caoguangyue/OneDrive - Perkins & Will/Documents/_01_GT/CSE 6242/DVA_Group_Project/Data/intersection_transportation.csv')

# bike facility
cyclist_facility = pd.read_csv('/Users/caoguangyue/OneDrive - Perkins & Will/Documents/_01_GT/CSE 6242/DVA_Group_Project/Data/cyclist_facilities.csv')

In [15]:
#clean streets table
streets = raw_streets[['cnn_sgmt_pkey','f_node_cnn_intrsctn_fkey','t_node_cnn_intrsctn_fkey','cyc_ntwrk_yn','speed_limit','pk_metered_cnt','pk_on_st_cnt','oneway_yn']]
trans = raw_transportation[['cnn_sgmt_pkey','daily_ride_qrt']]
df1 = streets.merge(trans, on=['cnn_sgmt_pkey','cnn_sgmt_pkey'], how = 'left')

#add bike facility information
bike = cyclist_facility[['cnn_sgmt_pkey','facility_type','surface_type','sharrow']]
bike.head()

   cnn_sgmt_pkey facility_type           surface_type sharrow
0         136000    BIKE ROUTE  GREEN-BACKED SHARROWS     YES
1         136000    BIKE ROUTE  GREEN-BACKED SHARROWS     YES
2         137000    BIKE ROUTE  GREEN-BACKED SHARROWS     YES
3         137000    BIKE ROUTE  GREEN-BACKED SHARROWS     YES
4        6690000    BIKE ROUTE                    NaN      NO

In [13]:
intersection = raw_inter[['cnn_intrsctn_pkey','latitude','longitude']]
intersection.head()

   cnn_intrsctn_pkey   latitude   longitude
0           20006000  37.709419 -122.382506
1           20010000  37.715558 -122.389438
2           20011000  37.716298 -122.388131
3           20013000  37.716087 -122.388978
4           20034000  37.728568 -122.370352